@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    color: #000;
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
}

input{
    width: 400px;
    padding: 5px 10px;
    margin: 10px auto;
    border: none;
    border: 1px solid #000;
    border-radius: 10px;
}

button{
    padding: 7px 15px;
    margin: 10px auto;
    border: none;
    border: 3px solid #3bc3ff;
    border-radius: 10px;
    background: #3bc3ff;
    color: #fff;
    cursor: pointer;
}

button:active{
    border: 3px solid #fff;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  font-weight: normal;
}
th{
    font-weight: bold;
}
